root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[*.cs]
indent_size = 4
max_line_length = off
dotnet_sort_system_directives_first = true
csharp_style_namespace_declarations = file_scoped:suggestion

[*.cshtml]
indent_size = 4
