@model Microsoft.AspNetCore.Diagnostics.IStatusCodeReExecuteFeature

<p style="font-family: sans-serif; font-size: 4rem; font-weight: bold; margin: 4rem 0 0; text-align: center">
    @Context.Response.StatusCode
</p>
